<h1>Reminder: Todo Due Date Approaching</h1>

<p>Hello <%= @user.name %>,</p>

<p>This is a reminder that your todo item "<%= @todo.name %>" is due on <%= @todo.duedate %>.</p>

<p>Best regards,<br>Your Todo App Team</p>